/*.sport > span{
	display: block;
}
.Team-vote >span{
	display: block;
}*/
body{
  background-color:#454E55;
  /*margin: 0 auto;*/
}

h2{
	color:#FCD000;
}
h3{
	color:#7494b5;
}

span{
	display: block;
}

.sports-poll-wrapper{
	margin:0 auto;
}

.poll{
 background-color:#363E45;
 width: 27%;
 padding:20px;
 float:left;
 height: 160px;
 margin: 2px;
 height:174px;
}

.name{
	height: 33px;
}
.group,.sport,.country,.name,.home-team-name,.team-draw,.away-team-name{
	color:#d4cece;
}

.poll, .vote-home,.vote-away,.draw-vote{
	list-style-type: none;
}

.home-team-name,.team-draw ,.away-team-name {
   text-align: center;
}

.vote-home li{
	display: inline;
	background: #3b454d;
}

.vote-home li a {
    color: #4cb64f;
    padding: 4px 10px;
}

.vote-home li label {
    color:#CE7A90;
    font-weight: bold; 
    padding: 4px 10px;

}


.vote-draw li{
	display: inline;
	background: #3b454d;
}

.vote-draw li a {
    color: #4cb64f;
    padding: 4px 10px;
}

.vote-draw li label {
     color:#CE7A90;
    font-weight: bold; 
    padding: 4px 10px;

}

.vote-away
{
	margin-top: 16px;
}

.vote-away li{
	display: inline;
	background: #3b454d;
}

.vote-away li a {
    color: #4cb64f;
    padding: 4px 10px;
}

.vote-away li label {
    color:#CE7A90;
    font-weight: bold; 
    padding: 4px 10px;
}

.team-draw, .home-team-name, .away-team-name{
	height: 35px;
}

.teams-vote
{
	overflow: hidden;
    margin-top: 8px;
    background-color: #404f5d;
    padding-bottom: 5px;
   
    padding-top: 9px;
}

.team-home-vote{
	float: left;
	width: 33.3%;
}
.team-draw-vote{
	float: left;
	width: 33.3%;
}
.team-away-vote{
	float: left;
	width: 33.3%;
}