
<html  ng-app="poll">
	<head>
		<link rel="stylesheet" type="text/css" href="css/poll.css">		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>	
			<div class="sports-poll-wrapper"><!-- Main wrapper -->
				<h2>Global Mouth</h2>
				<h3>Sports Poll</h3>					
						<div class="poll-collection" ng-controller="PollConroler as polls"><!-- poll-collection Wrapper --> 	
							<ul class="poll" ng-repeat="poll in polls.pollingSport">
								<li ng-show={{poll.state ==='STARTED'}} >
									<span class="group">Group : {{poll.group}}</span>
									<span class="sport">Sport : {{poll.sport}}</span>
									<span class="country">Country : {{poll.country}}</span> 
									<span class="name">Playing Teams: {{poll.name}}</span>						
										<div class="teams-vote"><!-- Teams to poll -->	
											<div class="team-home-vote"><!-- Home team vote -->								
													<span class="home-team-name">{{poll.homeName}}</span>
													<br>
													<ul class="vote-home">
														<li><a href="#"><i class="fa fa-arrow-up"></i></a></li>
														<li><label>0</label></li>
													</ul>
											</div>	<!-- End Home team vote -->		
											<div class="team-draw-vote"><!-- Draw vote -->	
													<span class="team-draw"> Draw</span>
													<br>
													<ul class="vote-draw">
														<li><a href="#"><i class="fa fa-arrow-up"></i></a></li>
														<li><label>0</label></li>
													</ul>
											</div><!-- End Draw vote -->
											<div class="team-away-vote"><!-- Away Team vote team vote -->	
													<span class="away-team-name">{{poll.awayName}}</span>
													<ul class="vote-away">
													 	<li><a href="#"><i class="fa fa-arrow-up"></a></i></li>
														<li><label>0</label></li>
													</ul> 
											</div><!--End  Away Team vote team vote -->
										</div><!--End Teams to poll -->			
									</li>
							</ul>								
						</div><!--End poll-collection Wrapper -->					 
			<div><!-- End Main wrapper -->			
	</body>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>	
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.vote-home li a').on('click',function(){
				var value = +$(this).closest('.vote-home').find('label').text();
				$(this).closest('.vote-home').find('label').text(value + 1);				
			});
			

			$('.vote-draw li a').on('click',function(){
				var value = +$(this).closest('.vote-draw').find('label').text();
				$(this).closest('.vote-draw').find('label').text(value + 1);				
			});

			$('.vote-away li a').on('click',function(){
				var value = +$(this).closest('.vote-away').find('label').text();
				$(this).closest('.vote-away').find('label').text(value + 1);				
			});
		});
	</script>

</html>